* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
   --white: #fff;
   --bg: #040D1F;
   --black: #000;
   --CR: 'CR', san-serif;
   --CB: 'CB', san-serif;
   --MR: 'MR', san-serif;
   --MB: 'MB', san-serif;
   --RR: 'RR', san-serif;
   --RB: 'RB', san-serif;
   --or: #ED8E00;
   --bgor: #F18128;
}

body {
    background: var(--bg);
    color: var(--white);
}

.container {
    max-width: 1140px;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.btn {
    border: none;
    outline: none;
    color: var(--black);
    background: var(--bgor);
    width: 166px;
    height: 46px;
    font-family: var(--RM);
    font-size: 14px;
    font-weight: 500;
    line-height: 12px;
    transition: 0.2s;
}

.btn:hover {
    background: var(--bg);
    color: var(--white);
}